.header__link {
    font-family: 'Inter', 'Arial', 'Georgia', 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 24px;
    transition: .2s linear opacity;
}

.header__link:hover {
    opacity: .6;
}